@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer {
  body::-webkit-scrollbar {
    width: 8px;
    height: 100%;
    background: theme(colors.transparent);
  }
  body::-webkit-scrollbar-thumb {
    background: theme(colors.primary-300);
    border-radius: theme(borderRadius.md);
  }
  body::-webkit-scrollbar-track{
    background: theme(colors.transparent);
  }

}
